In [1]:
class Car():
    tyre = 4
    def move():
        print("I am moving")

In [2]:
Car.tyre

4

In [3]:
tyre

NameError: name 'tyre' is not defined

In [4]:
Car.move()

I am moving

In [9]:
class Human():
    legs = 2
    def eat():
        print('I am eating')
        print('thank you')

In [10]:
Human.legs

2

In [11]:
Human.eat()

I am eating
thank you

In [12]:
gadhi1 = Car()
gadhi2 = Car()

In [14]:
gadhi1.tyre = 3

In [15]:
gadhi1.tyre

3

In [16]:
gadhi2.tyre

4

In [17]:
gadhi1.move()

TypeError: Car.move() takes 0 positional arguments but 1 was given

In [18]:
class Car():
    tyre = 4
    def move(self):
        print("I am moving")

In [19]:
gadhi = Car()

In [20]:
gadhi.move()

I am moving

In [21]:
gadhi.name = "Alto"

In [22]:
gadhi.name

'Alto'

In [37]:
class Car():
    tyre = 4
    def __init__(self, model, year):
        self.name = model
        self.year = year
    def move(self):
        print(self)
        print("I am moving")

    def information(self):
        print(f"Hi, i am {self.name} and i was made in {self.year}")

In [38]:
a = Car('BMW', 1999)

In [39]:
a.name

'BMW'

In [40]:
a.move()

<__main__.Car object at 0x0000019667EEEBA0>
I am moving

In [41]:
a.information()

Hi, i am BMW and i was made in 1999

## Magic functions

In [28]:
class Account():
    BANK_NAME = 'SBI'
    def __init__(self, name, initialDeposit=0):
        self.name = name
        self.balance = initialDeposit
        print(f"{name} Welcome to {self.BANK_NAME}")

    def __str__(self):
        # mandatory to return a str
        # runs when object is printed
        a = f"""
            === {self.BANK_NAME} ===
            Account holder : {self.name}
            Account Balance : {self.balance}
        """
        return a

    def __del__(self):
        # when memory location is cleared
        # runs before object is deleted
        print(f"old deleted :- {self.name}")

In [42]:
first  = Account("Harry", 33333)

Harry Welcome to SBI

In [43]:
second = Account("John", 44444)

John Welcome to SBI
old deleted Harry

## Encapsulation

In [62]:
class Account():
    BANK_NAME = 'SBI'
    def __init__(self, name, initialDeposit=0):
        self.name = name
        self.__balance = initialDeposit
        print(f"{name} Welcome to {self.BANK_NAME}")

    def __str__(self):
        # mandatory to return a str
        # runs when object is printed
        a = f"""
            === {self.BANK_NAME} ===
            Account holder : {self.name}
            Account Balance : {self.__balance}
        """
        return a

    def __del__(self):
        # when memory location is cleared
        # runs before object is deleted
        print(f"old deleted :- {self.name}")

    def __transaction(self, amount, t):
        print(f' {amount}, was {t}')
        print(f'current balance {self.__balance}')
        if t=='credited':
            print(f'initial balance {self.__balance-amount}')
        else:
            print(f'initial balance {self.__balance+amount}')
        
    def credit(self, amount = 0):
        self.__balance += amount
        self.__transaction(amount, 'credited')
        
    def debit(self, amount = 0):
        if self.__balance >amount:
            self.__balance -= amount
            self.__transaction(amount, 'debited')
        else:
            print("Insufficient Balance")

In [64]:
first = Account('shubham', 5000)

shubham Welcome to SBI
old deleted :- shubham

In [65]:
first.credit(3000)

 3000, was credited
current balance 8000
initial balance 5000

In [66]:
print(first)

            === SBI ===
            Account holder : shubham
            Account Balance : 8000

In [67]:
first.debit(2000)

 2000, was debited
current balance 6000
initial balance 8000